<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="divport" content="width=device-width, initial-scale=1.0">
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=0.5, maximum-scale=0.5"/>
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="./lib/css/clear.css?t=2020120"/>
	<link rel="stylesheet" href="./lib/css/wjdc.css?t=2020124"/>
	<link rel="shortcut icon" href="./lib/image/wjdc/h5fxtb@2x.png" type="image/x-icon" />
	<title>一起来往-赋能组织，活力共赢</title>
	<script type="text/javascript" src="./lib/commonJs/common.js"></script>
	<script type="text/javascript" src="./lib/commonJs/vue.min.js"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script type="text/javascript" src="https://res.wx.qq.com/open/js/jweixin-1.6.0.js"></script>
	<script type="text/javascript" src="./lib/commonJs/layer_mobile/layer.js"></script>
	<script>document.write('<script type="text/javascript" src="./lib/js/wjdc.js?t=' + new Date().getTime() + '"><\/script>')</script>
</head>
<body>
	<div class="wjdc" id="index" v-cloak>
		<!-- 顶部 -->
		<div class="sd-title" v-show="upload">
			<div class="sd-title-left">
					<img src='./lib/image/shareDetails/xxtz2@2x.png' alt="" class="sd-title-left-delete" @click="upload=false">
					<div class="sd-title-left-sign">
							<img src="./lib/image/shareDetails/h5fxtb@2x.png" alt="" class="sd-title-left-sign-logo">
							<div class="sd-title-left-sign-p">
									<p>一起来往</p>
									<p>赋能组织，活力共赢</p>
							</div>
					</div>
			</div>
			<a class="sd-title-right" href="https://www.yiqilaiwang.com/h5openapp2/app.html">下载APP</a>
		</div>
		<!-- 问卷 -->
		<div class="content" v-show="detail" :style="{marginTop:(upload ? '':'0')}">

		</div>
		<!-- 报名 -->
		<div class="layer" v-if="layer==1">
			<div class="mask" @click="tolayer(0)"></div>
			<div class="layer-content">
				<div class="close" @click="tolayer(0)"><img src="./lib/image/shareActivity/close12@3x.png" alt=""></div>
				<div class="info">
					<h3>填写报名信息</h3>
					<input type="text" placeholder="姓名" v-model='formdate.name'>
					<input type="text" placeholder="手机号" v-model='formdate.telphone' maxlength="11">
					<div class="verification-code">
						<input type="text" placeholder="验证码" class="verification-code"  v-model='formdate.verificationCode' maxlength="6">
						<div class="code" @click="getCode">{{isGetting?time+'s':'获取验证码'}}</div>
					</div>
					<div class="btn" @click='submit'>提交</div>
				</div>
			</div>

		</div>
		<!-- 绑定手机号 -->
		<div class="layer" v-if="layer==3">
			<div class="mask"></div>
			<div class="layer-content">
				<div class="close" @touchend="tolayer(0)"><img src="./lib/image/shareActivity/xxtz2@2x.png" alt=""></div>
				<div class="info">
					<h3>请输入报名信息</h3>
					<!-- <input type="text" placeholder="姓名" v-model='formdate.name'> -->
					<div class="verification-code">
						<input type="text" placeholder="手机号" v-model='formdate.telphone' maxlength="11">
						<div class="code" @touchend="getCode">{{isGetting?time+'s':'获取验证码'}}</div>
					</div>
					<input type="text" style="z-index:1000" placeholder="验证码" class="verification-code"  v-model='formdate.verificationCode' maxlength="6">
					<div class="btn" @touchend='bindTel'>立即报名</div>
				</div>
			</div>

		</div>
		<!-- 成功 -->
		<div class="layer" v-if="layer==2">
			<div class="mask" @click="tolayer(0)"></div>
			<div class="layer-content" style="width:450px">
				<div class="close" @click="tolayer(0)"><img src="./lib/image/shareActivity/xxtz2@2x.png" alt=""></div>
				<div class="info">
					<div style="position:relative">
						<!-- <img class="info-border" src="./lib/image/shareActivity/51c53391d32f9.jpg" alt=""> -->
						<img class="info-code" src="https://www.yiqilaiwang.com/img/wx_qrcode.7b48a346.png" alt="">
					</div>
					<h3 style="margin:20px 0">报名成功</h3>
					<h4>扫码关注公众号获取更多信息～</h4>
				</div>
			</div>
		</div>
		<div class="nothing" :style="{marginTop:(upload ? '':'0')}" v-show="!detail || detail.recommendStatus ==2">
			<div>
				<img :src="nothingImg" alt="">
				<p v-show="detail&&detail.recommendStatus ==2">此内容已被平台下架</p>
			</div>
		</div>
	</div>
</body>
</html>