html,body{
	margin: 0px;
	width: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	font-size: 14px;
	text-align: left;
	background:#fff;
}
.body-layer{
	/* height:100%; */
	overflow-y: hidden;
}
div{
	box-sizing: border-box;
}
.clear:after{
	content:"";
	clear:both;
	display:block;
	height:0;
	overflow:hidden;
	visibility:hidden;
}
.fl{
	float:left;
}
.fr{
	float:right;
}
.hide{
	display: none !important;
}
.row{
	width: 100%;
	height: 20px;
	line-height: 20px;
}
.author{
	padding-left: 15px;
	padding-right: 15px;
	width: 100%;
	display: flex;
	align-items: center;
}
.author img{
	float: left;
	width: 40px;
	height: 40px;
	border-radius: 20px;
}
.author-info{
	float: left;
	padding-left: 15px;
	height: 100%;
	max-width:calc(100% - 40px);
}
.author-name{
	font-size: 14px;
	color: #5172ad;
}
.author-name span{
	color: lightgrey;
}
.pub-time{
	height: 15px;
	font-size: 12px;
	color: rgb(182, 182, 182);
}
.article{
	position: relative;
	padding-left: 15px;
	padding-right: 15px;
	width: 100%;
}
.article section{
	width: 100%;
	/* max-height: 300px; */
	overflow: hidden;
	text-overflow: ellipsis;
	color: rgb(100,100,100);
	line-height:1.5;
	margin: 4px 0;
}
.lg-cover{
	position: absolute;
	left: 0px;
	bottom: 0px;
	width: 100%;
	height: 30px;
	background: -webkit-linear-gradient(top,rgba(255,255,255,0),#fff);
}
.down-arrow{
	width: 100%;
	height: 30px;
	background: url(../images/down-arrow.jpg) no-repeat;
	background-position: 50% 0%;
	background-size: auto 80%;
}
.open-btn{
	margin-left: 10%;
	width: 80%;
	height: 40px;
	line-height: 40px;
	border-radius: 20px;
	background: rgb(33, 100, 235);
	color: white;
	text-align: center;
}
.read-cnt{
	width: 100%;
	height: 30px;
	line-height: 40px;
	font-size: 12px;
	color: rgb(182, 182, 182);
	text-align: center;
}
.article-list{
	padding-left: 15px;
	padding-right: 15px;
	width: 100%;
	min-height: 100px;
	border-top: 3px solid rgb(250,250,250);
}
.list-title{
	width: 100%;
	height: 40px;
	line-height: 40px;
	font-size: 18px;
}
.list-item{
	padding-top: 10px;
	width: 100%;
	height: 80px;
	border-bottom: 1px solid rgb(250,250,250);
}
.item-title{
	float: left;
	width: 68%;
	height: 60px;
	line-height: 20px;
	color: rgb(100,100,100);
	overflow: hidden;
	text-overflow: ellipsis;
}
.item-pic{
	float: right;
	width: 28%;
	height: 60px;
	background: url(../images/pic1.jpg) no-repeat;
	background-size: 100% 100%;
	border-radius: 5px;
}
.modal-layer{
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.6);
}
.dlg-open-app{
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -175px;
	margin-top: -75px;
	padding-top: 55px;
	width: 350px;
	height: 150px;
	background: white;
	border-radius: 10px;
}
.close-dlg{
	position: absolute;
	left: 50%;
	bottom: -50px;
	margin-left: -15px;
	width: 30px;
	height: 30px;
	background: url(../images/close.png) no-repeat;
	border-radius: 15px;
}

.img-list{
	width: 100%;
	/* height: 80px; */
}
.img-list .img-box{
	margin-right: 8px;
	margin-bottom: 8px;
	width: calc(33.3% - 9px);
	height:94px;
	overflow: hidden;
	position: relative;
	border-radius: 5px;
}
.img-list .img-box img{
	/* float: left; */
	min-width: 100%;
	height: 100%;
	border-radius: 5px;
}
.img-list .width-long{
	position: absolute;
	height:100%;
	width:auto;
	border-radius: 5px;
	left:50%;
	transform: translateX(-50%);
	min-width: 100%;
}
.img-list .height-long{
	position: absolute;
	width:100%;
	height:auto;
	min-height: 100%;
	border-radius: 5px;
	top:50%;
	transform: translateY(-50%);
}
.img-list .video-box{
	width: 100%;
	height: 200px;
	margin-bottom: 10px;
	overflow: hidden;
	position: relative;
	border-radius: 5px;
}
.img-list .video-box .img{
	width: 100%;
	min-height: 199px;
	transform: translateY(-30%);
}
.img-list .video-box .play{
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	margin:auto;
	width:60px;
	height:60px;
	border-radius: 50%;
}
.img-list .sp{
	float: left;
	width: 5%;
	height: 100%;
}
.fans-list{
	padding-left: 20px;
	padding-right: 15px;
	width: 100%;
	height: 30px;
}
.fans-pic{
	float: left;
	margin-left: -5px;
	width: 25px;
	height: 25px;
	border-radius: 12.5px;
	border: 2px solid white;
}
.agreed{
	float: left;
	margin-left: 10px;
	height: 100%;
	line-height: 30px;
	color: lightgrey;
	font-size: 12px;
}
.agree{
	float: right;
	height: 100%;
	line-height: 30px;
	padding-left: 25px;
	color: grey;
	font-size: 12px;
	background: url(../images/agree-b.png) no-repeat;
	background-position: 0px 50%;
	background-size: 20px auto;
}
.agree1{
	background: url(../images/agree.png) no-repeat;
	background-position: 0px 50%;
	background-size: 20px auto;
}
.cmt{
	float: right;
	margin-left: 20px;
	height: 100%;
	line-height: 30px;
	padding-left: 25px;
	color: grey;
	font-size: 12px;
	background: url(../images/cmt.png) no-repeat;
	background-position: 0px 50%;
	background-size: 20px auto;
}
.comments{
	margin-top: 10px;
	margin-left: 4%;
	margin-right: 4%;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	width: 92%;
	height: auto;
	background: rgb(250,250,250);
	border-radius: 5px;
	box-sizing: border-box;
}
.cmt-item{
	width: 100%;
	min-height: 22px;
	max-height: 44px;
	line-height: 22px;
	font-size: 12px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.cmt-img.hide{
	display: none;
}
.cmt-user{
	float: left;
	max-width: 30%;
	height: 100%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	color: #5172ad;
	display:inline-block;
}
.cmt-text{
	float: left;
	margin-left: 6px;
	max-width:calc(70% - 7px);
	height: 100%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	color: black;
	display:inline-block;
}
.cmt-img{
	display: flex;
	align-items: center;
	float:left;
}
.cmt-img img{
	height:16px;
	margin:0 3px 0 5px;
}
.org{
	margin-left: 4%;
	margin-right: 4%;
	padding: 10px;
	width: 92%;
	height: 50px;
	/* background: rgb(255, 239, 233); */
	background:linear-gradient(270deg,rgba(21,113,235,0.08) 0%,rgba(58,154,255,0.08) 100%);
	border-radius: 5px;
}
.act{
	margin-left: 4%;
	margin-right: 4%;
	padding: 10px;
	width: 92%;
	/* height: 50px; */
	background: rgb(255, 239, 233);
	border-radius: 5px;
}
.org img{
	float: left;
	width: 30px;
	height: 30px;
	border-radius: 15px;
}
.org-info{
	float: left;
	padding-left: 10px;
	max-width: 70%;
	height: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
}
.org-name{
	height: 15px;
	line-height: 15px;
	font-size: 12px;
	color:#333333;
}
.mem-info{
	height: 15px;
	font-size: 12px;
	color: #888888;
}
.enter-btn{
	float: right;
	margin-top:3px;
	width: 65px;
	height: 24px;
	line-height: 24px;
	background:linear-gradient(270deg,rgba(21,113,235,1) 0%,rgba(58,154,255,1) 100%);
	border-radius: 13px;
	border:none;
	text-align: center;
	font-size: 12px;
	font-family:PingFangSC-Medium,PingFang SC;
	font-weight:500;
	color:rgba(255,255,255,1);
}

.layer-video .mask{
	position: fixed;
	display: inline-block;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.55);
	z-index: 999;
  }
  .layer-video  .layer-content{
	background:transparent;
	width:100%;
	border-radius:18px;
	-webkit-box-shadow: 0 2px 16px 0 rgba(0,0,0,.06);
	box-shadow: 0 2px 16px 0 rgba(0,0,0,.06);
	position: fixed;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	z-index: 999;
	padding:0;
  }
  .layer-video  .layer-content .info{
	padding-top: 30px;
  }
  .layer-video .layer-content .close{
	width: 30px;
	height: 30px;
	position: absolute;
	cursor: pointer;
	left: auto;
	right: 0;
	margin: 24px 14px 0;
	z-index: 9999999999;
  }
  .img-close{
		height: 44px;
		position: relative;
		cursor: pointer;
		left: auto;
		right: 0;
		margin: 0 0 0 14px;
		z-index: 9999999999;
		display: flex;
		justify-content: flex-end;
		align-items: center;
  }
  .layer-video .layer-content .close img{
	width:30px;
	height:30px;
  }
  .layer-video .layer-content .info{
	/* padding-top:43px; */
	text-align: center;
  }

  /* 蒙层 */
  .layer .mask{
	position: fixed;
	display: inline-block;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.55);
	z-index: 999;
  }
  .layer-content{
	background:#ffffff;
	width:304px;
	border-radius:9px;
	-webkit-box-shadow: 0 2px 16px 0 rgba(0,0,0,.06);
	box-shadow: 0 2px 16px 0 rgba(0,0,0,.06);
	position: fixed;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	z-index: 999;
	padding:0 27px;
  }
  .layer-content .close{
	width:30px;
	height:30px;
	position: absolute;
	cursor: pointer;
	left:0;
	right:0;
	margin: 338px auto 0;
  }
  .layer-content .close img{
	width:30px;
	height:30px;
  }
  .layer-content .info{
	padding-top:10px;
	text-align: center;
  }
  .layer-content .info .txt {
	font-size:15px;
	font-family:PingFang SC;
	font-weight:400;
	color:rgba(51,51,51,1);
  }
  .layer-content .info h3{
	font-size:18px;
	font-family:PingFang SC;
	font-weight:bold;
	color:#333333;
	margin-bottom:18px;
	height: 24px;
	line-height: 24px;
  }
  .layer-content .info h4{
	height:12px;
	font-size:12px;
	font-family:PingFang SC;
	font-weight:500;
	color:rgba(40,40,40,1);
	padding:0 0 42px;
  }
  .layer-content .info .info-code{
	width:137px;
	height:137px;
	border-radius:4px;
	display: inline-block;
	padding:8px;
	border:1px solid #0375FB;
  }
  .layer-content .info .info-border{
	position: absolute;
	width: 258px;
	height:158px;
	top:0;
	bottom:0;
	left:0;
	right:0;
	margin:auto;
  }
  .layer-content .info input{
	width:100%;
	height:42px;
	padding:13px 8px 13px 17px;
	background:#fbfbfb;
	border-radius: 4px;
	margin-bottom:9px;
	box-sizing: border-box;
	font-size: 16px;
	border:none;
	border: 1px solid #CACACA;
  }
  .layer-content .info .charge{
	width:118px;
	height:26px;
	background:rgba(255,255,255,1);
	border:1px solid rgba(221,221,221,1);
	border-radius:5px;
  }
  /* 表单框中placeholder */
input:-ms-input-placeholder,textarea:-ms-input-placeholder {
	color: #999999;
	font-size:16px;
	font-family:PingFang SC;
	font-weight:500;
}
input::-webkit-input-placeholder,textarea::-webkit-input-placeholder {
	color: #999999;
	font-size:16px;
	font-family:PingFang SC;
	font-weight:500;
}
input::-moz-placeholder,textarea::-moz-placeholder {
	color: #999999;
	font-size:16px;
	font-family:PingFang SC;
	font-weight:500;
}
input::placeholder,textarea::placeholder {
	color: #999999;
	font-size:16px;
	font-family:PingFang SC;
	font-weight:500;
}
.layer-content .info .btn-box{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.layer-content .info .btn-box div{
	margin: 11px 0 28px;
	width:111px;
	height:35px;
	line-height:25px;
}
.layer-content .info .btn{
	margin:26px 0 28px;
	height:38px;
	line-height:38px;
	background: #2168EB;
	font-size:16px;
	font-family:PingFang SC;
	font-weight:500;
	color:#ffffff;
	border-radius: 19px;
}
.layer-content .info .btn1{
	color: #2168EB;
	background: #fff;
	border:1px solid #2168EB;
}
.layer-content .info .verification-code{
	position:relative;
	display: flex;
	/* border: 1px solid #CACACA; */
	align-items: center;
	justify-content: space-between;
	background:#fbfbfb;
	border-radius: 4px;
	margin-bottom:10px;
}
.layer-content .info .verification-code input{
	border:none;
	margin:0;
	width:162px;
	background:rgba(251,251,251,1);
	border-radius:4px;
	border:1px solid rgba(202,202,202,1);
}
.layer-content .info .verification-code .code{
	width:77px;
	height:41px;
	line-height:41px;
	background:#2168EB;
	/* border:1px solid rgba(162, 162, 162, 1); */
	border-radius:4px;
	font-size:12px; 
	font-family:PingFang SC;
	font-weight:500;
	color:#fff;
	text-align: center;
	/* margin-left:14px; */
}



.modelTost {
	display: none;
	/* background: rgba(0, 0, 0, .5); */
	z-index: 9999;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
}

.modelTostChile {
	width: 100%;
	z-index:9999;
	padding-bottom: 2.5%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 100%;
	background:rgba(0, 0, 0, 0.7);
}

.modelTostChile p {
	font-size: 24px;
	padding: 3%;
}

.modelClose {
	float: right;
	cursor: pointer;
}

.swiper-slide {
	text-align: center;
	margin:auto;
	background-color:transparent;
	display: flex;
	align-items: center;
}
.swiper-container{
	height:calc(100% - 80px);
}
.swiper-slide img {
	width: 100%;
	max-height: 100%;
	text-align: center;
	margin:auto;
}

/*  */
.c-App-box{
	background:#ffffff;
	border-radius:18px;
	-webkit-box-shadow: 0 2px 16px 0 rgba(0,0,0,.06);
	box-shadow: 0 2px 16px 0 rgba(0,0,0,.06);
	position: fixed;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	z-index: 999;
	padding: 20px 27px;
}
.c-App{
	width:4.50rem;
	height:0.70rem;
	background:rgba(33,104,235,1);
	border-radius:0.37rem;
	line-height:0.74rem;
	text-align: center;
	color:rgba(255,255,255,1);
	font-size:14px;
	display: inline-block;
	margin: 0 0.5rem;
}
.c-title{
	margin-bottom: 20px;
}
/* 活动 */
.c-banner{
  height:3.8rem;
  position:relative;
	overflow: hidden;
	margin-left: 4%;
	margin-right: 4%;
	border-radius: 5px;
	margin-bottom: 10px;
}
.banner-bg{
  width: 100%;
  height: auto;
  min-height:4.15rem;
}
.banner-info{
  position:absolute;
  bottom:0;
  left:0;
  width: 100%;
  background:linear-gradient(180deg,rgba(63,63,63,0) 0%,rgba(0,0,0,0.7) 30%,rgba(0,0,0,0.85) 100%);
  padding:0.6rem 0.32rem 0.21rem;
}
.banner-info-h3{
  font-size:17px;
  font-weight:500;
	color:rgba(255,255,255,1);
	margin: 0;
  /* line-height:53px; */
}
.banner-info-intro{
  margin: 7px 0 10px;
  font-size: 26px;
  font-weight: 500;
  color: rgba(255,255,255,1);
  line-height: 37px;
  max-height: 0.73rem;
  white-space: pre-line;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.banner-info-remark{
  display: flex;
  align-items: center;
}
.banner-info-remark .item{
  display: flex;
  align-items: center;
  font-size:24px;
  color:rgba(255,255,255,1);
  line-height:33px;
  max-width:3.2rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.banner-info-remark .item:nth-child(2){
  max-width:3.8rem;
}
.banner-info-remark .item img{
  width:14px;
  height:auto;
  margin-right:2px;
  /* opacity: 0.8; */
}
.banner-info-remark .item span{
  font-size:12px;
  color:rgba(255,255,255,0.7);
  line-height:33px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.c-banner .act-btn{
	position: absolute;
	top: 10px;
	right: 10px;
	background:linear-gradient(270deg,rgba(21,113,235,1) 0%,rgba(58,154,255,1) 100%);
	font-size:12px;
	font-family:PingFangSC-Medium,PingFang SC;
	font-weight:500;
	color:rgba(255,255,255,1);
	border:none;
}

