html,body{
    margin: 0px;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    font-size: 14px;
    text-align: left;
    color: #333333;
}
div{
    box-sizing: border-box;
}
.clear:after{
	content:"";
	clear:both;
	display:block;
	height:0;
	overflow:hidden;
	visibility:hidden;
}
.fl{
	float:left;
}
.fr{
	float:right;
}
.hide{
    display: none !important;
    
}
.bg{
    padding-top: 25px;
    width: 100%;
    height: 150px;
    background: url(../images/orgBg.png) no-repeat;
    background-size: 100% 100%;
}
.org{
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    display: flex;
    align-items: center;
}
.org img{
    float: left;
    width: 70px;
    height: 70px;
    border-radius: 35px;
}
.org-info{
    float: left;
    padding-left: 15px;
    /* padding-top: 10px; */
    height: 100%;
    max-width: 78%;
}
.org-name{
    /* height: 25px; */
    line-height: 25px;
    font-size: 18px;
    color: white;
}
.master{
    height: 18px;
    line-height: 30px;
    font-size: 12px;
    color: rgb(250, 250, 250);
}
.leader{
    position: absolute;
    left: 16px;
    top: 120px;
    right: 16px;
    padding-top: 12px;
    height: 72px;
    border-radius: 8px;
    background: white;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
}
.leader-item{
    position: relative;
    float: left;
    max-width: 90px;
    height: 54px;
    display: flex;
    overflow: hidden;
}
.leader-item-left{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.leader-item-left .leader-item-grade{
    /* position: absolute; */
    bottom: 0px;
    min-width: 40px;
    max-width: 50px;
    height: 12px;
    background: linear-gradient(270deg,rgba(43,129,251,1) 0%,rgba(42,173,255,1) 100%);
    border-radius: 6px;
    font-size: 8px;
    font-family: PingFangSC-Regular,PingFang SC;
    font-weight: 400;
    color: rgba(255,255,255,1);
    line-height: 12px;
    text-align: center;
    margin-left: 0;
    margin-top: -4px;
}
.leader-none{
    text-align: center;
    line-height: 50px;
    font-size:13px;
    font-family:PingFangSC-Regular,PingFang SC;
    font-weight:400;
    color:rgba(51,51,51,1);
}
.leader-item img{
    float: left;
    width: 40px;
    min-width: 40px;
    height: 40px;
    border-radius: 20px;
}
.leader-item-grade{
    margin-left: 5px;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    color: #999999;
}
.leader-item-name{
    margin-top: 10px;
    margin-left: 4px;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
}
.leader-item-sp{
    float: left;
    width: 18px;
    height: 100%;
}
.member{
    position: absolute;
    left: 16px;
    top: 210px;
    right: 16px;
    padding: 10px;
    height: 50px;
    border-radius: 8px;
    background: white;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
}
.member img{
    float: left;
    width: 30px;
    height: 30px;
    border-radius: 15px;
}
.member span{
    float: right;
    display: block;
    width: 80px;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    color: rgb(100,100,100);
}
.lg-cover{
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 30px;
    background: -webkit-linear-gradient(top,rgba(255,255,255,0),#fff);
}
.down-arrow{
    width: 100%;
    height: 30px;
    background: url(../images/down-arrow.jpg) no-repeat;
    background-position: 50% 0%;
    background-size: auto 80%;
}
.desc{
    margin-top: 126px;
    padding-left: 25px;
    padding-right: 25px;
    width: 100%;
    max-height: 130px;
    overflow: hidden;
    word-break: break-all;
    position: relative;
}
.desc.elip{
    word-break: break-all;
    letter-spacing: 0;
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: 5;  /*要显示的行数*/
    -webkit-box-orient: vertical;
}

.desc span,.desc h1,.desc h3,.desc h2,.desc h4,.desc h5,.desc h6,.desc p,
.desc dl,.desc dt,.desc dd,.desc ul,.desc li,.desc ol,.desc th,.desc td,
.desc tr,.desc form,.desc input,.desc textarea,.desc legend,.desc select,.desc fieldset,
.desc section,.desc article,.desc aside,.desc header,.desc nav,.desc footer{
  font-size: 14px !important;
  /* font-family: PingFang SC,PingFangSC-Regular !important; */
  font-weight: 400 !important;
  -webkit-text-size-adjust: 100% !important;
  width:100% !important;
  box-sizing: border-box;
  color:#333333 !important;
  line-height:1.5 !important;
}
.desc p{
    overflow: hidden;
}
.desc video{    
    height:535px !important;
    max-width: 100%;
}
.desc img{
    width:100% !important;
    height:auto !important;
    /* margin:0.1rem 0 0.1rem; */
}
.desc-text{
    margin-top: 135px;
    padding-left: 25px;
    padding-right: 25px;
    width: 100%;
    height: 100px;
}
.desc-none{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 132px;
    height: 20px;
}
.org-nm{
    font-size: 14px;
    font-weight: 800;
    color: blue;
}
.org-tp{
    font-size: 14px;
}
.org-master{
    color: blue;
}
.open-btn{
    margin-left: 10%;
    width: 80%;
    height: 40px;
    line-height: 40px;
    border-radius: 20px;
    background: rgb(33, 100, 235);
    color: white;
    text-align: center;
}
.open-btn1{
    margin-left: 10%;
    width: 80%;
    height: 40px;
    line-height: 40px;
    border-radius: 20px;
    background: rgb(33, 100, 235);
    color: white;
    text-align: center;
}
.read-cnt{
    width: 100%;
    height: 30px;
    line-height: 40px;
    font-size: 12px;
    color: rgb(182, 182, 182);
    text-align: center;
}
.org-list{
    padding-left: 16px;
    padding-right: 16px;
    width: 100%;
    min-height: 100px;
    border-top: 1px solid rgb(230,230,230);
}
.list-title{
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    color:#333;
}
.list-item{
    margin-top: 10px;
    padding: 15px;
    width: 100%;
    /* height: 70px; */
    border-radius: 8px;
    background: white;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
}
.list-item img{
    float: left;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.e-info{
    float: left;
    padding-left: 15px;
    padding-top: 2px;
    height: 100%;
    max-width: 80%;
}
.e-name{
    line-height: 20px;
    color: #333;
    word-break: break-all;
    letter-spacing: 0;
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;  /*要显示的行数*/
    -webkit-box-orient: vertical;
    font-size:16px;
}
.e-master{
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    color: rgb(150, 150, 150);
}
.modal-layer{
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    z-index:1000;
}
.dlg-open-app{
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -150px;
    margin-top: -75px;
    padding-top: 55px;
    width: 300px;
    height: 150px;
    background: white;
    border-radius: 10px;
}
.close-dlg{
    position: absolute;
    left: 50%;
    bottom: -50px;
    margin-left: -15px;
    width: 30px;
    height: 30px;
    background: url(../images/close.png) no-repeat;
    border-radius: 15px;
}
.dlg-e-info{
    left: 0;
    position: absolute;
    padding-left: 12px;
    padding-right: 12px;
    width: 340px;
    height: 360px;
    background: white;
    border-radius: 12px;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}
.dlg-title{
    width: 100%;
    height: 50px;
    line-height: 60px;
    font-size: 18px;
    font-weight: 800;
    text-align: center;
}
.dlg-input-item{
    margin-top: 15px;
    width: 100%;
    height: 36px;
    display: flex;
    justify-content: space-between;
}
.dlg-input-item span{
    float: left;
    display: block;
    width: 2.25rem;
    height: 100%;
    line-height: 40px;
    text-align: right;
    box-sizing: border-box;
}
/* 联盟 */
.dlg-e-info1{
    padding-left: 20px;
    padding-right: 30px;
}
.dlg-e-info1 .dlg-input-item{
    /* justify-content:flex-start; */
}
.dlg-e-info1 .dlg-input-item span{
    width: 80px;
}
.dlg-e-info1 .get-code{
    margin-left: 0;
    width:80px;
}

.dlg-input-item input,.dlg-input-item select{
    float: left;
    padding: 5px;
    width: 196px;
    height: 100%;
    border: 1px solid lightgrey;
    border-radius: 6px;
    outline: none;
    background: rgb(250, 250, 250);
    box-sizing: border-box;
    margin-left: 6px;
}
/* 火狐 */
input[type="number"] {
    -moz-appearance:textfield;
}
/* 表单框中placeholder */
input:-ms-input-placeholder,textarea:-ms-input-placeholder {
    font-size:12px;
    font-family:PingFangSC-Regular,PingFang SC;
    font-weight:400;
    color:rgba(153,153,153,1);
    /* line-height:36px; */
}
input::-webkit-input-placeholder,textarea::-webkit-input-placeholder {
	font-size:12px;
    font-family:PingFangSC-Regular,PingFang SC;
    font-weight:400;
    color:rgba(153,153,153,1);
    /* line-height:36px; */
}
input::-moz-placeholder,textarea::-moz-placeholder {
	font-size:12px;
    font-family:PingFangSC-Regular,PingFang SC;
    font-weight:400;
    color:rgba(153,153,153,1);
    /* line-height:36px; */
}
input::placeholder,textarea::placeholder {
	font-size:10px;
    font-family:PingFangSC-Regular,PingFang SC;
    font-weight:400;
    color:rgba(153,153,153,1);
    /* line-height:36px; */
}
input:-webkit-autofill,
textarea:-webkit-autofill,
.get-code{
    float: left;
    margin-left: 10px;
    width: 102px;
    height: 100%;
    line-height: 36px;
    background: rgb(33, 100, 235);
    border-radius: 6px;
    font-size: 12px;
    color: white;
    text-align: center;
}
.join-btn{
    border: none;
}
.create-btn{
    border: none;
}
.dlg-join-success{
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -150px;
    margin-top: -85px;
    padding: 20px;
    width: 300px;
    /* height: 170px; */
    height: auto;
    background: white;
    border-radius: 10px;
    text-align: center;
}
.layui-m-layer2 .layui-m-layercont i{
    width: 16px;
    height: 16px;
}
